<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="{{ STATIC_URL }} /static/min.js"></script>

	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}} /static/paint.css">
	<title>Face Generartor</title>

</head>

<body>
	<center>
		<h1>Face Generartor</h1>
	</center>
	<h3 style="position: relative;left: 150px;">Área de dibujo</h3>




	<canvas id="a" width="640" height="640" style="border:4px solid green;text-align: left"></canvas>
	<img src="{{STATIC_URL}} /static/img/udea.png" id="model" width="700" height="650"
		style="text-align: left ;"></canvas>

	<script>
		function cargar_img(){
			window.location.href='{% url "cargar" %}';	
		}
	</script>

	<center>
		<br>
		<button id='7' class="button1" onclick="pencil()">Dibujar</button>
		<!-- <button id='9' class="button2" onclick="spray()">Difuminado</button> -->
		<button id='8' class="button3" onclick="erase()">Borrador</button>
		<button id='1' class="button5" onclick="clrscr()">Limpiar</button>
		<button id='9' class="button2" onclick="cargar_img()">Cargar imágen</button>


		<br>
		<br>
		<form id="f">
			<div style="display: none;" class="slidecontainer">
				<input type="range" name="pix" min="1" max="10" value="2" class="slider" id="myRange"
					onchange="linewidth()">
				<p>Tamaño borrador [px]: <span id="demo"></span></p>
			</div>
		</form>
		<br>

		<form style="display: none;" name="etnia" action="">
			<label for="race">Elige la etnia del rostro: </label>
			<select id="race" name="cars">
				<option value="latin">Latino</option>
				<option value="white">Caucásico</option>
				<option value="afro">Afro</option>
				<option value="asian">Asiatico</option>
				<option value="arab">Arabe</option>
			</select>

		</form>


		<button id='1' style="text-align: center;" class="button5" onclick='save()'>Generar</button>

		<script type="text/javascript" src="{{ STATIC_URL }} /static/paint.js"></script>
		<!--
		<form id="generar" action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<input id='1' style="text-align: center;" class="button5" value='Generar' type="submit">
		</form>
		-->
		<!--
			<input id='1' style="text-align: center;" class="button5"  value='Generar' onclick='save()' > 

			<a href="gallery">Gallery</a>
		-->
	</center>

</body>

</html>